* {
    box-sizing: border-box;
    background-color: #FDFCEF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}

h1 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    /*line-height: 1.4em;*/
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

h3 {
    margin-bottom: 11px;
    font-size: 30px;
    transition: all .05s ease;
}


p {
    margin: 0;
    font-weight: 500;
    line-height: 1.37em;
}

.container {
    margin: 0 auto;
    width: 1110px;
}

section {
    margin-bottom: 120px;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #FDFCEF;
    padding-top: 60px;
    z-index: 999;
}

img {
    background: transparent;

}

/*section 1 start*/
.section-1 {
    padding-top: 172px;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro {
    width: 465px;
}

.intro__p {
    color: #000;
    font-style: normal;
    font-weight: 400;
    margin: 30px 0;
    width: 423px;
    line-height: 1.4em;
}

.play-button {
    display: block;
    width: 230px;
    border-radius: 100px;
    background: #FF6861;
    padding: 22px 70px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.5s ease;
}

.play-button:hover, .play-button:active {
    background: #fc4141;
}

.cow {
    width: 465px;
}

/*section 1 end*/

/*section 2 start*/
.game-actions {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.action {
    display: flex;
    align-items: center;
}

.action-wrap {
    margin-left: 34px;
}

.action > img {
    transition: all .3s ease;
}

.action:hover img {
    transform: scale(1.2);
}

.action:hover h3 {
    font-size: 32px;
    color: #7e0404;
}

/*section 2 end*/

/*section 3 start*/
.practice-wrap {
    border-radius: 60px;
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    display: flex;
    padding: 76px 125px 75px 122px;
    align-items: center;
}

.practice-text {
    width: 475px;
    background: transparent;

}

.practice-text > p {
    margin: 24px 0;
    width: 371px;
    background: transparent;

}

.practice-text > h2 {
    margin-bottom: 0;
    text-align: left;
    background: transparent;
}

.ladybird {
    margin-left: 301px;
    animation: moveAndRotate 5s linear infinite; /* Запускаем анимацию */
    transform-origin: 1px;
}

@keyframes moveAndRotate {
    100% {
        transform: rotate(-360deg);
    }
}

/*section 3 end*/

/*footer start*/
.footer {
    margin: 120px 0;
    font-size: 15px;
    text-align: center;
}

/*footer end*/

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .ladybird {
        animation: none;
        margin-left: 101px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .intro-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .intro {
        width: auto;
    }

    .intro__p {
        width: auto;
    }

    .play-button {
        margin: 0 auto;
    }

    .cow {
        order: -1;
        margin-bottom: 51px;
    }

    .practice-wrap {
        flex-direction: column;
        padding: 101px 37px;
        gap: 101px;
    }

    .practice-text > h2{
        text-align: center;
    }
    .practice-text > p{
        width: 371px;
        text-align: center;
        margin: 24px auto;
    }
    .ladybird{
        margin: 0 auto;
        order: -1;
        width: 287px;
    }
}


/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
}