/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #102746;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;

}

.section-title {
    font-weight: 500;
    line-height: 42px;
    font-size: 35px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    position: absolute;
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    bottom: 0;
    left: 0;
}

figure {
    margin: 0;
}

figcaption {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/*header style start*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    transition: .2s linear;
    padding-bottom: 20px;
}

.header_active {
    background: #0E1D28;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 56px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.header_item {
    margin-right: 82px;
    list-style: none;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.header_link:hover, .header_link:active, .header_link:focus {
    opacity: .75;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
}

.burger__line-first {
    top: 0;
}

.burger__line-second {
    top: 50%;
}

.burger__line-third {
    bottom: 0;
}

/*header style end*/

/*intro style start*/
.intro {
    min-height: 100vh;
    background: url("/images/intro-background.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 372px;
}

.intro_title {
    color: white;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    max-width: 619px;
    margin-bottom: 22px;
    line-height: normal;
}

.intro_subtitle {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 546px;
    margin-bottom: 56px;
}

.form_field {
    background: transparent url("/images/Oval.svg") no-repeat left top;
    background-size: 20px;
    width: 297px;
    border: none;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.form_field:hover, .form_field::after, .form_field:focus {
    outline: none;
}

.form_field::placeholder {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.form_button {
    text-transform: uppercase;
    padding: 15px 39px;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background: #1B7DFF;
    border: none;
}

.form_button:hover, .form_button:focus, .form_button:active {
    background: #0e66da;
}

/*intro style end*/

/*benefits style start*/
.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    position: relative;

}

.benefits_title {
    width: 100%;
    margin: 0;
    padding: 93px 100px 88px 100px;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefit_card {
    grid-column: span 1;
    padding-bottom: 112px;
}

.card-pic {
    width: 66px;
    height: 66px;
    margin-bottom: 37px;
}

.card-img {
    display: block;
}

.card-heading {
    font-size: 18px;
    font-weight: 500;
}

.card-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.learn-more {
    display: inline-block;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url("/images/arrow.jpg") no-repeat 95% center;
    transition: .2s all;
}

.learn-more:hover, .learn-more:focus {
    background: url("/images/arrow.jpg") no-repeat right center;

}

/*benefits style end*/
/*places style start*/
.places {
    margin-bottom: 131px;
}

.places-title {
    margin-bottom: 36px;
    margin-right: 15px;
}

.places-caption {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.places__view-all {
    display: inline-block;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url("/images/arrow.jpg") no-repeat right center;
}

.places__view-all:hover, .places__view-all:focus {
    opacity: 65%;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
    /*height: 100%;*/
}

.places__card:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.40);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card-size-lg {
    grid-column: span 3;
    height: 354px;
}

.places__card-size-sm {
    grid-column: span 2;
    height: 283px;
    object-fit: cover;
}

.places__card-pic {
    width: 100%;
    transition: .15s;
}

.places__card-title {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*places style end*/

/*tours style start*/
.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
    margin-top: 0;
}

.tour__info {
    margin-left: 47px;
}

.tour_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 85px;
    max-width: 357px;
}

.tour__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
    max-width: 519px;
}

.tour__link-more {
    display: inline-block;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url("/images/arrow.jpg") no-repeat right center;
}

.tour__link-more:hover, .tour__link-more:focus {
    opacity: 65%;
}

/*tours style end*/

/*top places style start*/

.top-places {
    margin-bottom: 144px;
}

.top-places__title {
    margin-bottom: 54px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 52px;
}

.top-card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top-card__pic {
    position: relative;
    margin-bottom: 45px;
}

.top-card__stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}

.top-card__likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url("../images/likes.svg") no-repeat right;
    margin-right: 14px;
}

.top-card__comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url("../images/comments.svg") no-repeat right;
}

.top-card__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;
    width: 100%;
}

.top-card__more {
    width: 118px;
    text-transform: uppercase;
    padding: 12px 19px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background: #1B7DFF;
    border: none;
    text-decoration: none;
    margin: auto 0 0 0;
}


.top-card__more:hover, .top-card__more:focus, .top-card__more:active {
    background: #0e66da;
}

/*top places style end*/

/*videos style start*/
.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*videos style end*/


/*footer style start*/
.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.footer__menu-item {
    list-style: none;
}

.footer__menu-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: 0.75;
}


/*footer style end*/

/* media start*/
@media screen and (max-width: 1312px) {
    .places__card-pic {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .top-places {
        display: flex;
        justify-content: center;
    }

    .top-cards {
        gap: 30px;
        /*margin: 0 auto;*/
    }

    .top-card__stats {
        width: 100%;
    }

}

@media screen and (max-width: 960px) {
    .form_field {
        margin-bottom: 25px;
    }

    .benefits_title {
        padding: 55px 25px;
    }

    .benefits_cards {
        padding: 0 25px;
        grid-column-gap: 35px;
    }

    .benefit_card {
        padding-bottom: 60px;
    }

    .places__card-size-lg {
        grid-column: span 6;
    }

    .places__card-size-sm {
        grid-column: span 6;
    }

    .tours__tour {
        grid-column-gap: 35px;
    }

    .tour__info {
        margin-left: 0;
    }

    .tour_title {
        margin-bottom: 15px;
    }

    .tour__description {
        margin-bottom: 15px;
    }

    .top-cards {
        gap: 45px
    }

    .top-card {
        grid-column: span 3;
    }

    .top-card__stats {
        bottom: 0;
    }

    .top-card__pic {
        margin-bottom: 20px;
    }

    .top-card__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top-card__description {
        margin-bottom: 20px;
    }

    .footer {
        padding: 60px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 25px;
    }

    .section-title::after {
        width: 78px;
    }

    .header_wrapper {
        padding-top: 30px;
        align-items: center;
    }

    .header__burger {
        display: block;
    }

    .header_nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        z-index: 10;
        padding: 75px;
        transition: .3s all linear;
        transform: translateX(100%);
    }

    .header_nav-active {
        transform: translateX(0);
        transition: .3s all linear;
    }

    .header_item {
        width: 100%;
        margin-bottom: 30px;
    }

    .header_item:last-child {
        margin-bottom: 0;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .header_link {
        font-size: 45px;
        line-height: 50px;
    }

    /*intro*/
    .intro {
        min-height: 100vh;
        width: 100%;
        background: url("/images/intro-background.jpg") no-repeat center;
        background-size: cover;
        padding-top: 125px;
        padding-bottom: 372px;
    }

    .intro_title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro_subtitle {
        font-size: 14px;
    }

    .form_field {
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: transparent url("/images/Oval.svg") no-repeat left 2px;
    }

    .form_field::placeholder {
        font-size: 16px;
    }

    .form_button {
        width: 100%;
    }
    /*benefits*/

    .benefits {
        margin-bottom: 50px;
    }

    .benefit_card {
        grid-column: span 3;
        padding-bottom: 40px;
    }

    .card-pic {
        margin-bottom: 20px;
    }
    /*places*/
.places{
    margin-bottom: 60px;
}

    /*tours*/
    .tours{
        margin-bottom: 60px;
    }
    .tours__tour{
        margin-bottom: 40px;
    }
    .tour__info, .tour__pic{
        grid-column: span 2;
    }
    .tour__pic{
        margin-bottom: 15px;
    }
    .kyoto{
        grid-row-start: -1;
    }
    /*top places*/
    .top-card{
        grid-column: span 6;
    }
    .top-places {
        margin-bottom: 60px;
    }
    .top-card__title {
        font-size: 15px;
    }
    .top-card__description {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    /*footer*/
    .footer{
        padding: 0;
    }
    .footer__logo{
        width: 100%;
        margin-bottom: 12px;
        margin-top: 20px;
    }
    .footer__nav{
        width: 100%
    }
    .footer__menu{
        padding: 0;
        width: 50%;
        margin-bottom: 24px;
    }
    .footer__menu-title{
        font-size: 17px;
    }
    .footer__menu-link{
        font-size: 13px;
    }

}

@media screen and (max-width: 500px) {
    .header_nav {
        padding: 75px 30px;
    }
}

/* media end*/



